.denv
datasets/icdar2013/images/*.png
datasets/icdar2015/images/*.jpg

datasets/icdar2013/gt/*.txt
datasets/icdar2015/gt/*.txt

datasets/IIIT5K/test/*.png
datasets/IIIT5K/train/*.png

*ckpts

datasets/cute80/gt/*.txt
datasets/cute80/images/*.jpg

datasets/WordArt/images/*.png

datasets/svt/gt/*.txt
datasets/svt/images/*.jpg

datasets/svtp/gt/*.txt
datasets/svtp/images/*.jpg

datasets/VQA/test_images/*.jpg

*.mat
LLaMA-7B/*
weights_old

*.benv
*huggingface_cache
*.penv
*.lenv